<!DOCTYPE html>
<html>
<body>
	<form name="agendaform">
		<div>
			<label>Name</label>
		</div>
		<div>
			<input type="text" ng-model="agenda.name" />
		</div>
		<div>
			<label>lastName</label>
		</div>
		<div>
			<input type="text" ng-model="agenda.lastName" />
		</div>

		<div>
			<label>Phone</label>
		</div>
		<div>
			<input type="text" ng-model="agenda.phone" />
		</div>
		<div>
			<label>Email</label>
		</div>
		<div>
			<input type="email" ng-model="agenda.email" />
		</div>
		<div>
			<input type="submit" value="save" ng-click="save()" />
		</div>
	</form>
	
	<div>
		<table>
		<tr>
		<td>Name</td>
		<td>LastName</td>
		<td>Phone</td>
		<td>Email</td>
		</tr>
		<tr ng-repeat="contato in listAgenda">
			<td>{{contato.name}}</td>
			<td>{{contato.lastName}}</td>
			<td>{{contato.phone}}</td>
			<td>{{contato.email}}</td>
		</tr>
		</table>
	</div>
</body>
</html>