<html>
<body>
	<label>{{'msg.register' | translate}}</label>
	<form name="userform"  ng-controller="movieController" ng-submit="registerUser()">
	 <div>{{'msg.required.field' | translate}}
	 <span ng-show="userform.$invalid"></span> 
	</div>
	<div>
		<label>{{'label.name' | translate}}</label>
	</div>
	<div>
			<input type="text" name="userName" ng-model="user.name"  ng-required="true"/>
	</div>
	<div>
		<label>E-mail *</label>
	</div>
	<div>
		<input type="email" name="userEmail" ng-model="user.email" ng-required="true"/>
   	 </div>
	</div>
	<div>
		<button ng-disabled="userform.$invalid">{{'label.register' | translate}}</button>
	</div>
	
	</form>
</body>
</html>